*{
	margin: 0;
	padding: 0;
}

.content{
	position: absolute;
	/*top: -200%;*/
}

.page{
	position: relative;
	/*相对定位*/
}

img{
	position: absolute;
}

.page1{
	background: #00ccff;
}

.page1-Building{
	width: 100%;
	height: 30%;
	bottom: 0;
	display: none;
	
}

.page1-elements{
	width: 100%;
	height: 100%;
	animation: zooming 2s linear infinite;
}

.page1-cloud{
	width: 90%;
	height: 90%;
	animation: zooming 2s linear infinite;
}

@keyframes zooming{
	0%{transform: scale(1);}
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}

.page1-txt{
	width: 60%;
	left: 0;
	right: 0;
	margin: auto;
	top: 15%;
}

.page1-flower{
	top: 14%;
    width: 20%;
    left: 7%;
    z-index: 1;
    animation: rotate 2s linear infinite;
}

.page1-flower2{
	left: 62%;
    width: 23%;
    top: 27%;
    z-index: 1;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
	0%{}
	16%{transform: rotate(30deg);}
	32%{transform: rotate(0deg);}
	48%{transform: rotate(0deg);}
	64%{transform: rotate(-30deg);}
	80%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}

.page1-flight{
	left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    width: 0;
    animation: flight 4s linear infinite;
}

@keyframes flight{
	0%{transform: scale(1);}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}

.page1-stars{
	width: 100%;
}

.page2{
	background: aquamarine;
}

.page2-bg{
	width: 100%;
	height: 100%;
}

.page2-farm{
	width: 70%;
	right: 0;
	top: 20%;
	display: none;
}

.page2-it{
	width: 70%;
	right: 0;
	top: 60%;
	display: none;
}

.page2-star{
	width: 100%;
	height: 100%;
}

.page3{
	background: blue;
}

.page3-bg{
	width: 100%;
	height: 100%;
}

.page3-bus{
	z-index:1;
	width: 65%;
	bottom:10%;
}

.page3-human{
	width: 30%;
	bottom: 12%;
	right:5%;
}

.page3-et,.page3-lt{
	width: 40%;
	display: none;
	
}
.page3-lt{
	top:15%;
}
.page3-et{
	z-index:1;
}
.page3-busStation{
	width: 100%;
	bottom: 0;
}

.page3-ta{
	top: 27%;
	right:17%;
	display: none;
}
.page3-ts{
	top:25%;
	width:0px;
	left:10%;
	height: 30%;
}
.page3-tw{
	right: 0;
	bottom: 0;
	width: 30%;
	height: 65%;
	display: none;
}
.page3-twt{
	bottom: 5%;
	width:0px;
	left:5%;
}
.page4{
	background: pink;
}
.page4-off{
	bottom: 0;
}
.page4-offbg{
	width: 100%;
	height: 100%;
}
.page4-guide{
	width: 800px;
	height: 200px;
	bottom: 30%;
	right: 0;
}
.page4-on{
	bottom: 0;
	display: none;
}
.page4-corner{
	top: 0;
	right:0;
}

.page4-onbg{
	width: 100%;
	height: 100%;
	display: none;
}
.page4-txt{
	top:40%;
	right:40%;
	display: none;
}
